@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

}

.simple-pagination nav p {
        display: none;
    }

.mark {
    background: rgba(255, 230, 0, 0.4);
    border-bottom: 2px solid orange;
    color: black;
}
.highlight {
    background: rgba(255, 230, 0, 0.8);
    color: black;
    border-radius: 2px;
}

button[wire\:click] {
    cursor: pointer;
}
